Python

pycache/
*.py[cod]
*$py.class

Virtual Environment

venv/
.env

Database

*.db
*.sqlite3

IDE

.vscode/
.idea/

Logs

*.log

Windows

Thumbs.db
Desktop.ini

macOS

.DS_Store

Python cache

.pytest_cache/
.mypy_cache/

Build

build/
dist/
*.egg-info/

Secrets

.env